@page
@model Lab1.Pages.Employee.EmployeeViewProjectModel
@{
}

<h2>View Projects</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects)
        {
            <tr>
                <td>@project.ProjectName</td>
                <td>@project.StartDate.ToString("yyyy-MM-dd")</td>
                <td>@project.EndDate.ToString("yyyy-MM-dd")</td>
                <td>@project.ProjectStatus</td>
                <td>@project.ProgressStatus</td>
                <td>@project.ProjectLead</td>
            </tr>
        }
    </tbody>
</table>