@page
@model Lab1.Pages.Admin.ViewProjectModel
@{
    ViewData["Title"] = "Search Projects";
}

<h2>Search Projects</h2>



<form method="post">
    <div class="form-group">
        <label asp-for="tempProject.ProjectName"></label>
        <input type="text" class="form-control" asp-for="tempProject.ProjectName" placeholder="Enter Project Name" />
    </div>

    <div class="form-group">
        <label asp-for="tempProject.StartDate"></label>
        <input type="date" class="form-control" asp-for="tempProject.StartDate" />
    </div>

    <div class="form-group">
        <label asp-for="tempProject.EndDate"></label>
        <input type="date" class="form-control" asp-for="tempProject.EndDate" />
    </div>

    <div class="form-group">
        <label asp-for="tempProject.ProjectStatus"></label>
        <select class="form-control" asp-for="tempProject.ProjectStatus" >
            <option value="">All Status</option>
            <option value="0">Incomplete</option>
            <option value="1">Complete</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="tempProject.ProgressStatus"></label>
        <input type="text" class="form-control" asp-for="tempProject.ProgressStatus" placeholder="Enter Progress Status" />
    </div>

    <div class="form-group"> <!--Probably a dropdown, need to ask who will be project leads-->
        <label asp-for="tempProject.ProjectLead"></label>
        <input type="number" class="form-control" asp-for="tempProject.ProjectLead" />
    </div>

    <div class="form-group"> <!--Needs to become a dropdown-->
        <label asp-for="tempProject.UserID"></label>
        <input type="number" class="form-control" asp-for="tempProject.UserID" />
    </div>

    <div class="form-group"> <!--Needs to become a dropdown-->
        <label asp-for="tempProject.GrantID"></label>
        <input type="number" class="form-control" asp-for="tempProject.GrantID" />
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
</form>

@{
    if (Model.Projects != null && Model.Projects.Count > 0)
{
    <h3>Search Results</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Due Date</th>
                <th>Submission Date</th>
                <th>Complete Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model.Projects)
            {
                <tr>
                    <td>@project.ProjectName</td>
                    <td>@project.StartDate.ToString("yyyy-MM-dd")</td>
                    <td>@project.EndDate.ToString("yyyy-MM-dd")</td>
                    <td>@project.ProjectStatus</td>
                    <td>@project.ProgressStatus</td>
                    <td>@project.ProjectLead</td>
                </tr>
            }


         </tbody>
                </table>
}          
    else
{
    <p>No projects found matching your criteria.</p>
}
}